.content-post {
  min-height: calc(100vh - 480px);
  background: #f3f5f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid #C1C1C1;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      border-color: $colortheme;
    }

    .list-item-icon {
      flex-basis: 100px;
      padding-right: 20px;
      font-size: 2rem;
      color: $colortheme;
    }

    .list-post-title {
      font-size: 22px;
      transition: .3s;
      color: $colortheme;
    }
    .list-post-description {
      font-size: 16px
    }

    .list-post-written {
      span {
        font-weight: bold

      }
    }

    small {
      font-size: 12px;
      opacity: .7
    }
}

.list-item-2 {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid #C1C1C1;
  padding: 40px;
  box-sizing: border-box;
  transition: .3s;
  margin-bottom: 10px;
  overflow: hidden;
  &:hover {
    border-color: $colortheme;
    .list-post-title {
      color: $colortheme;
    }
  }

  .list-item-2-img {
    margin-right: 20px;
      @media screen and (max-width: 839px) {
        margin-right: 0;
        margin-top: 20px;
      }
   }
}

.ut {
color:#000;
background:#fff;
padding:6px 15px;
border:2px solid #000;
-webkit-transition: .3s;
transition: .3s;
font-size:12.5px;
}
.ut:hover{
color:#fff;
border:2px solid #000;
background-color:#000;
}

/* Table Box */
#utb{position: relative;font: normal 12px Arial, Sans-Serif}
#udltb{list-style:none;height: 30px;margin: 0 !important;padding: 0 !important}
#udltb li{list-style:none;margin: 0 0 0 2px;float: left;font-weight: 700}
#udltb li a{display: block;padding: 0 6px;line-height: 30px;text-decoration: none;color: #398BCE;background-color: #ccc}
#udltb li.active a{background-color: #f3f3f3}
#udlctn > div{background-color: #f3f3f3;color: #000;padding: 10px 15px;border-bottom: 4px solid #398BCE}
#udlctn a{color: #398dcc;text-decoration: none;outline: none;transition: all 0.25s}
#udlctn a:hover{color: #222;text-decoration: none}
#tab2, #tab3{display:none;}
