.content-post {
  min-height: calc(100vh - 480px);
  background: #f3f5f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid #C1C1C1;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      border-color: $colortheme;
    }

    .list-item-icon {
      flex-basis: 100px;
      padding-right: 20px;
      font-size: 2rem;
      color: $colortheme;
    }

    .list-post-title {
      font-size: 22px;
      transition: .3s;
      color: $colortheme;
    }
    .list-post-description {
      font-size: 16px
    }

    .list-post-written {
      span {
        font-weight: bold

      }
    }

    small {
      font-size: 12px;
      opacity: .7
    }
}

.list-item-2 {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid #C1C1C1;
  padding: 40px;
  box-sizing: border-box;
  transition: .3s;
  margin-bottom: 10px;
  overflow: hidden;
  &:hover {
    border-color: $colortheme;
    .list-post-title {
      color: $colortheme;
    }
  }

  .list-item-2-img {
    margin-right: 20px;
      @media screen and (max-width: 839px) {
        margin-right: 0;
        margin-top: 20px;
      }
   }
}

.oposition {
  text-align: center;
}
.obutton {
transition: all 0.3s ease-out;
color:#000;
background:#fff;
padding:6px 15px;
border:2px solid #000;
-webkit-transition: .3s;
transition: .3s;
font-size:12.5px;
}
.obutton:hover {
color:#fff;
border:2px solid #000;
background-color:#000;
}

.ooverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.ooverlay:target {
  visibility: visible;
  opacity: 1;
}

.opopup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.opopup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.opopup .oclose {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.opopup .oclose:hover {
  color: #06D85F;
}
.opopup .ocontent {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .obox{
    width: 70%;
  }
  .opopup{
    width: 70%;
  }
}
